@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
}
body p {
    color: rgba(7, 2, 17, 0.6);
    font-size: 20px;
    font-weight: 400;

}

.banner {
    text-align: center;
    align-items: center;
    background: linear-gradient(180.00deg, rgb(7, 2, 17), rgba(7, 2, 17, 0) 100%);
    background-image: url("./resources/Banner\ Image.png");
    background-repeat: no-repeat;
    background-size: auto;
    width: 70%;
    height: 600px;
    margin: auto;
}

.banner .top-banner-text {
    color: rgb(255, 255, 255);
}

.banner h4 {
    font-size: 32px;
    font-weight: 500;
    padding-top: 70px;
}

.banner h2 {
    font-size: 75px;
    font-weight: 800;
}

/* discount section style */
.discount {
    width: 35%;
    height: 27vh;
    margin: 50px auto;
    text-align: center;
    /* gap: 40px; */
}

.discount .discount-title h2 {
    color: rgb(22, 19, 19);
    font-size: 88px;
    font-weight: 700;
    /* line-height: 107px;
letter-spacing: 0%; */
    text-align: center;
}

.discount .discount-text {
    margin-top: 90px;
    color: rgb(31, 20, 53);
    /* line-height: 2px; */
}

.discount .discount-text p {
    color: rgb(7, 2, 17);

    font-size: 24px;
    font-weight: 500;
    text-align: center;
}

.discount .discount-text h3 {
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}

/* new year image style */
.new-year-img {
    width: 50%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 60px;
}

.new-year-img img {
    object-fit: contain;
}

/* midnight party banner */
.banner2 {
    background: linear-gradient(180.00deg, rgb(7, 2, 17), rgba(7, 2, 17, 0) 100%);
    background-image: url("./resources/Vectorrr.png");
    background-repeat: no-repeat;
    background-size: auto;
    width: 70%;
    height: 600px;
    margin: auto;
    margin-bottom: 40px;
}

.banner2 .banner2-content {
    width: 80%;
    margin: auto;
    color: aliceblue;
    display: flex;
    align-items: center;
}

.banner2 .banner2-content .banner2-text {
    width: 60%;
}

.banner2 .banner2-content .banner2-text h1 {
    color: rgb(255, 255, 255);
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 11%;
    text-align: left;
}

.banner2 .banner2-content .banner2-text p {
    color: rgba(255, 255, 255, 0.8);
    font-size: 18px;
    font-weight: 400;
    /* line-height: 30px;
    letter-spacing: 0%; */
    text-align: left;
}

.banner2 .banner2-content .banner2-text button {
    border-radius: 16px;
    color: whitesmoke;
    font-size: large;
    font-weight: 400;
    background: linear-gradient(90.00deg, rgb(7, 2, 17), rgba(7, 2, 17, 0) 100%);
    border: none;
}

.banner2 .banner2-content .banner2-img {
    width: 20%;
    align-items: center;
    padding-top: 60px;

}

/* faded section style */
.faded-section {
    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1), rgba(255, 0, 0, 0) 100%);
    border-radius: 16px;
    width: 70%;
    height: 480px;
    margin: auto;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.faded-section .faded-section-text h2 {

    font-size: 32px;
    font-weight: 600;
    text-align: center;
    text-align: center;
}

#faded-section-btn {
    border-radius: 8px;
    border: none;
    color: aliceblue;
    width: 167px;
    height: 56px;
    font-size: 20px;
    font-weight: 700;
    background: rgb(255, 0, 0);
}

.orangered {
    color: orangered;
}

/* comin soon style */
.coming-soon {

    width: 70%;
    margin: 50px auto;
    height: 460px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.coming-soon-left {
    width: 25%;
    padding-top: 20px;

}

.coming-soon .coming-soon-left h2 {
    color: rgb(255, 0, 0);
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 10px;
}

.coming-soon h1 {
    color: rgb(7, 2, 17);
    font-size: 48px;
    font-weight: 900;
    margin: 10px 0;
}

.coming-soon p {
    color: rgba(7, 2, 17, 0.6);
    font-size: 20px;
    font-weight: 400;

}

.coming-soon-img {
    width: 25%;

}

.coming-soon-right {
    width: 25%;
}

.coming-soon-img img {
    height: 95%;
    width: 95%;
    border: 8px solid red;
    border-radius: 50%;
    padding: 10px;
    object-fit: cover;
    margin: auto;
}

#red {
    color: red;
}

/* Holiday sale section */
.holiday-sale {
    width: 58%;
    height: 260px;
    margin: 50px auto;
    text-align: center;


}

.holiday-sale h4 {
    color: rgb(7, 2, 17);
    font-size: 20px;
    font-weight: 400;
    padding-top: 20px;
    margin: 5px;

}

.holiday-sale h1 {
    font-size: 75px;
    font-weight: 800;
    margin: 10px;
}

.holiday-sale h1 span {
    color: red;
}

/* 50%discont section */
.fifty-percent-discount {
    width: 70%;
    height: 620px;
    margin: 50px auto;
    background-image: url("./resources/Rectangle\ 2.png");
    background-repeat: no-repeat;
    background-position: bottom;

}

.fifty-percent-discount-images {
    display: flex;
}

.fifty-percent-discount-images .img1 {
    width: 55%;
    height: 31%;
}

.fifty-percent-discount-images .img2 {
    width: 20%;
    height: 20%;
    padding-top: 5%;
    align-items: center;
    justify-content: center;
}

.fifty-percent-discount-images .img3 {
    width: 25%;
    height: 390px;
}

/* portfolio section style */
.portfolio {
    width: 70%;
    height: 1160px;
    margin: 50px auto;
}

.portfolio .portfolio-text {
    height: 170px;
    margin: 50px 0;
    text-align: left;
}

.portfolio .portfolio-text h4 {
    color: rgb(255, 0, 0);
    font-size: 24px;
    font-weight: 500;
    padding-top: 20px;
    margin: 5px 0;
}

.portfolio .portfolio-text h2 {
    color: rgb(7, 2, 17);
    font-size: 48px;
    font-weight: 900;
    margin: 10px 0;
}

/* subscribe section style */
.subscribe-container {
    width: 70%;
    height: 550px;
    margin: 50px auto;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
}

.subscribe-container .email-img {
    width: 8%;
    height: 8%;
    margin: auto;
    padding: 20px 0px;
}

.subscribe-container .subscribe-text {
    width: 47%;
    height: 146px;
    margin: 30px auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 60px 0px;
}

.subscribe-container .subscribe-text {
    color: rgb(7, 2, 17);

    font-size: 20px;
    font-weight: 800;

    /* text-align: center; */

}

.subscribe {
    width: 35%;
    height: 60px;
    display: flex;
    align-items: center;
    margin: auto;
}

#email {
    width: 70%;
    height: 60px;
    border: none;
    text-align: left;
    font-size: 16px;
    padding-left: 10px;
    border-radius: 50px 0px 0px 50px;
}

#email-btn {
    width: 30%;
    height: 60px;
    border: none;
    color: aliceblue;
    font-size: 20px;
    border-radius: 0px 50px 50px 0px;
    background: rgb(255, 0, 0);
}

/* footer style */
.footer{
    width: 100%;
    height: 600px;
    background: rgb(7, 2, 17);
    padding-top: 120px;
    color: white;
    font-size: 20px;
    font-weight: 300;
}
.footer-text{
    width: 62%;
    height: 80px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.footer-hr{
    width: 70%;
    margin: 50px auto;
    height: 0;
    border: 1px solid rgba(255, 255, 255, 0.15);

}
.footer-images{
    width: 70%;
    height: 64px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}